<extend name="Index/index" />

<block name="include">
    <script src="ADMIN_URL/js/pintuer.js"></script>
</block>

<block name="main">
    
    <div >
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>内容</th>
                <th>发表者</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach  name='data' item='vo' key="k" >
            <tr class="active">
                <th scope="row"><{$k+1}></th>
                <td><{$vo.username}></td>
                <td><{$vo.content}></td>
                <td><{$vo.owner}></td>
                <td><{$vo.createtime|date="Y/m/d",###}></td>
                <td>
                    <div class="button-group">
                        <a href ="<{:url('Mood/ShowMood',array('moodid'=>$vo['moodid']))}>" class="button border-main">
                        <span class="icon-edit"></span> 查看详情</a>
                        <a href ="<{:url('Favorite/DeleteFavorite',array('id'=>$vo['id']))}>" class="button border-red"> <span class="icon-trash-o"></span>删除</a>
                    </div>
                </td>
            </tr>
            </foreach>
            </tbody>
        </table>
        <{$page}>
    </div>


</block>