<!DOCTYPE HTML>
<html>
<head>
    <title><{$title ?  $title : Vchat后台}></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta  charset="utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <block name="css">
    <link href="__RESOURCE__/Dist/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="__ADMIN__/css/style.css" rel='stylesheet' type='text/css' />
    <link href="__RESOURCE__/css/init.css" rel='stylesheet' type='text/css' />
    <link href="__ADMIN__/css/font-awesome.css" rel="stylesheet">


    </block>
    <block name="script">
    <!-- jQuery -->
    <script src="__RESOURCE__/Dist/js/jquery.min.js"></script>
    <script src="__JS__/function.js"></script>
    <!----webfonts--->

    <!-- Bootstrap Core JavaScript -->
    <script src="__RESOURCE__/Dist/js/bootstrap.min.js"></script>

    </block>
</head>
<body id="login">
<block name="main">

</block>
</body>
</html>