<extend name="admin@layout/admin"/>
<block name="css">
    {__BLOCK__}
</block>
<block name="body">

<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="<{UPLOAD_PATH . :session('logo')}>" class="radius-circle rotate-hover" height="50" width="50" alt="" /><{$Think.session.sysname}>后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="<{:url('home/index/index')}>" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="<{:url('Login/LoginOut')}>"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav" style="height: 565px;overflow: auto;">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-pencil-square-o"></span>用户管理</h2>
  <ul>
    <li><a href="<{:url('User/index')}>" target="right"><span class="icon-caret-right"></span>全部用户</a></li>
      <li><a href="<{:url('User/admin')}>" target="right"><span class="icon-caret-right"></span>管理员</a></li>
    <li><a href="<{:url('User/addUser')}>" target="right"><span class="icon-caret-right"></span>添加用户</a></li>
  </ul>
    <h2><span class="icon-pencil-square-o"></span>动态管理</h2>
    <ul>
        <li><a href="<{:url('Mood/index')}>" target="right"><span class="icon-caret-right"></span>全部动态</a></li>
        <!--<li><a href="<{:url('Mood/AddMood')}>" target="right"><span class="icon-caret-right"></span>添加用户</a></li>-->
    </ul>
    <h2><span class="icon-pencil-square-o"></span>评论管理</h2>
    <ul>
        <li><a href="<{:url('Comment/index')}>" target="right"><span class="icon-caret-right"></span>全部评论</a></li>
        <!--<li><a href="<{:url('Mood/AddMood')}>" target="right"><span class="icon-caret-right"></span>添加用户</a></li>-->
    </ul>
    <h2><span class="icon-pencil-square-o"></span>点赞管理</h2>
    <ul>
        <li><a href="<{:url('Favorite/index')}>" target="right"><span class="icon-caret-right"></span>点赞列表</a></li>
        <!--<li><a href="<{:url('Mood/AddMood')}>" target="right"><span class="icon-caret-right"></span>添加用户</a></li>-->
    </ul>
    <h2><span class="icon-pencil-square-o"></span>收藏管理</h2>
    <ul>
        <li><a href="<{:url('Collect/index')}>" target="right"><span class="icon-caret-right"></span>收藏列表</a></li>
        <!--<li><a href="<{:url('Mood/AddMood')}>" target="right"><span class="icon-caret-right"></span>添加用户</a></li>-->
    </ul>
    <h2><span class="icon-pencil-square-o"></span>网站管理</h2>
    <ul>
        <li><a href="<{:url('User/SetPass')}>" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
        <li><a href="<{:url('Link/index')}>" target="right"><span class="icon-caret-right"></span>友情链接</a></li>
        <li><a href="<{:url('Link/AddLink')}>" target="right"><span class="icon-caret-right"></span>添加友情链接</a></li>
    </ul>
    <h2><span class="icon-pencil-square-o"></span>网站信息</h2>
    <ul>
        <li><a href="<{:url('Sysinfo/Logo')}>" target="right"><span class="icon-caret-right"></span>网站LOGO</a></li>
        <li><a href="<{:url('Sysinfo/EditName')}>" target="right"><span class="icon-caret-right"></span>网站名称</a></li>
    </ul>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<!--<ul class="bread">-->
  <!--<li><a href="{:url('Index/info')}" target="right" class="icon-home"> 首页</a></li>-->
  <!--<li><a href="##" id="a_leader_txt">网站信息</a></li>-->
  <!--<li><b>当前语言：</b><span style="color:red;">中文</php></span>-->
  <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>-->
<!--</ul>-->
<div class="admin">
  <block name="main">
      <section>
          <h2></h2>
          <div style="background-color:#1281bd; height:50px; line-height:40px; text-align:center;">
              <p class="fl" style="margin-top:10px;color:white;padding-top:10px;font-size: 20px;">欢迎来到<{$Think.session.sysname}>后台管理系统</p>
          </div>
          <section>
              <h2></h2>
              <div style=" height:30px;">
              </div>
          </section>
      </section>
      <section>
          <div class="page_title">
              <h2 class="fl" style="color:grey;">用户信息</h2>
          </div>
          <table class="table" style="">
              <tr>
                  <td>用户名:</td>
                  <td><{$admin_info.name|default=''}></td>
                  <td>用户身份:</td>
                  <td>
                      <switch name="2">
                          <case value="1">非法登录</case>
                          <case value="2">管理员</case>
                          <case value="3">超级管理员</case>
                          <default />非法登录
                      </switch>
                  </td>
              </tr>
              <tr>
                  <td>IP地址:</td>
                  <td><{$admin_info.ip|default=''}>
                  </td>
                  <td>登录时间:</td>
                  <td><{$admin_info.date|default=''}></td>
              </tr>

          </table>
      </section>
      <section>
          <div class="page_title">
              <h2 class="fl" style="color:grey;">服务器信息</h2>
          </div>
          <table class="table" style="">
              <tr>
                  <td>PHP版本:</td>
                  <td><{$sysinfo['version']|default=''}></td>
                  <td>MySQL版本:</td>
                  <td><{$sysinfo.mysql_version|default=''}></td>
              </tr>
              <tr>
                  <td>服务器操作系统:</td>
                  <td> <p  style="width:450px;word-break:break-all; overflow:hidden;text-overflow:ellipsis; height:30px;display:block;white-space: nowrap;"  height="40" align="left" ><{$sysinfo.osname|default=''}></p>
                  </td>
                  <td>文件上传限制:</td>
                  <td><{$sysinfo.max_upload|default=''}></td>
              </tr>
              <tr>
                  <td>服务器Web端口:</td>
                  <td><{$sysinfo.port|default=''}></td>
                  <td>Web服务器:</td>
                  <td><{$sysinfo.os|default=''}></td>
              </tr>
          </table>
      </section>
  </block>
</div>
<div style="text-align:center;">
</div>
</block>