<extend name="admin@layout/admin"/>
<block name="css">
    {__BLOCK__}
</block>
<block name="main">

<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<!--<ul class="bread">-->
  <!--<li><a href="{:url('Index/info')}" target="right" class="icon-home"> 首页</a></li>-->
  <!--<li><a href="##" id="a_leader_txt">网站信息</a></li>-->
  <!--<li><b>当前语言：</b><span style="color:red;">中文</php></span>-->
  <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>-->
<!--</ul>-->
<div class="admin">
  <block name="main">
      <section>
          <h2></h2>
          <div style="background-color:#1281bd; height:50px; line-height:40px; text-align:center;">
              <p class="fl" style="margin-top:10px;color:white;padding-top:10px;font-size: 20px;">欢迎来到<{$Think.session.sysname}>后台管理系统</p>
          </div>
          <section>
              <h2></h2>
              <div style=" height:30px;">
              </div>
          </section>
      </section>
      <section>
          <div class="page_title">
              <h2 class="fl" style="color:grey;">用户信息</h2>
          </div>
          <table class="table" style="">
              <tr>
                  <td>用户名:</td>
                  <td><{$admin_info.name|default=''}></td>
                  <td>用户身份:</td>
                  <td>
                      <switch name="2">
                          <case value="1">非法登录</case>
                          <case value="2">管理员</case>
                          <case value="3">超级管理员</case>
                          <default />非法登录
                      </switch>
                  </td>
              </tr>
              <tr>
                  <td>IP地址:</td>
                  <td><{$admin_info.ip|default=''}>
                  </td>
                  <td>登录时间:</td>
                  <td><{$admin_info.date|default=''}></td>
              </tr>

          </table>
      </section>
      <section>
          <div class="page_title">
              <h2 class="fl" style="color:grey;">服务器信息</h2>
          </div>
          <table class="table" style="">
              <tr>
                  <td>PHP版本:</td>
                  <td><{$sysinfo['version']|default=''}></td>
                  <td>MySQL版本:</td>
                  <td><{$sysinfo.mysql_version|default=''}></td>
              </tr>
              <tr>
                  <td>服务器操作系统:</td>
                  <td> <p  style="width:450px;word-break:break-all; overflow:hidden;text-overflow:ellipsis; height:30px;display:block;white-space: nowrap;"  height="40" align="left" ><{$sysinfo.osname|default=''}></p>
                  </td>
                  <td>文件上传限制:</td>
                  <td><{$sysinfo.max_upload|default=''}></td>
              </tr>
              <tr>
                  <td>服务器Web端口:</td>
                  <td><{$sysinfo.port|default=''}></td>
                  <td>Web服务器:</td>
                  <td><{$sysinfo.os|default=''}></td>
              </tr>
          </table>
      </section>
  </block>
</div>
<div style="text-align:center;">
</div>
</block>