#page-php { 
    display:inline-block;
    float: right;
    border:1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}
#page-php .current{ background:#ddd; }
#page-php span{
    float: left;
    color:#428bca;
    padding:5px 10px;
    border-left:1px solid #ddd;
}
#page-php a{
    float: left;
    color:#428bca;
    padding:5px 10px;
    border-left:1px solid #ddd;
}
#page-php .next{

}
#page-php .prev{
    color:#428bca;padding:5px;
    border-radius :3px 3px 0px 0px;
    border:1px solid #ddd;
}
#page-php a:hover {
    text-decoration:none;
    background:#eee;
}
